//Font-families;
$primary-font-family: "Cormorant", serif;

//Font-sizes;
$header-font-size: 2.8rem;
$xxl-font-size: 2rem;
$xl-font-size: 1.75rem;
$l-font-size: 1.7rem;
$m-font-size: 1.5rem;
$s-font-size: 1.3rem;
$xs-font-size: 1.1rem;
$xxs-font-size: 1rem;

//Font weights;
$bold-font-weight: 800;


