h1 {
    color: #6da303; 
    font-size: 50px;
    text-align: central;
}

h2{
    color:rgba(26, 119, 5, 1);
    background-color: #ff9800b5;
}

h2 {
    color:green;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color: orange;
    box-shadow: 10px 10px 20px sienna;
}

.h3 .fifth paragraph {
    color:#dc2be2;
}

h1{
    opacity: 0.7;
}
#fifth-paragraph h3 {
    color:sienna;
}

#fifth-paragraph p {
    color:rgb(220, 43, 226);
}

p {
    color: orangered;
}

body {
    background: url(../images/bg1.jpg), no-repeat, fixed, center;
}

img {
    border-width: 3px;
    border-style: solid;
    border-color:black;
    border-radius: 8%;
    border-top: 3px solid #ff9800b5;
    height: 400px;
    width: 400px;
}